header {
    background-color: #2fff82b1; /* Color de fondo de la barra de navegación */
    color: #fff; /* Color del texto */
    padding: 10px 0; /* Espaciado interno */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px; /* Ajusta el margen izquierdo según tus preferencias */
}

.menu {
    margin-right: 20px; /* Ajusta el margen derecho según tus preferencias */
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 18px; /* Ajusta el tamaño del texto según tus preferencias */
}

.ideas {
    margin-left: 90px;
    margin-right: 90px;
}
h1 {
    margin-left: 30px;
}